/* ===== RESET ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== ГЛАВНЫЙ ФИКС ШРИФТА ===== */
html,
body,
#root {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Noto Sans",
    "Segoe UI Symbol",
    Arial,
    sans-serif !important;
}

/* ===== ROOT ===== */
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --accent: #aa3bff;

  color: var(--text);
  background: var(--bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===== BODY ===== */
body {
  margin: 0;
  background: #f5f6f8;
  color: var(--text-h);
}

/* ===== ROOT APP ===== */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ===== SCROLL HIDE ===== */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* ===== MOBILE ===== */
html,
body {
  overscroll-behavior: none;
}

/* ===== TAP FIX ===== */
* {
  -webkit-tap-highlight-color: transparent;
}

/* ===== BUTTONS ===== */
button {
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

button:active {
  opacity: 0.7;
  transform: scale(0.96);
}